<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" >
    <title>HomeWork</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-left: auto;">
                <img src="{% static '/imgs/head.jpg' %}" style="width:300px;">
            </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><div class="text-center"><strong style="font-size: 40px">Hello</strong></div></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center" style="font-size: 30px">MY NAME IS ChrisProsise AND THIS IS MY RESUME/CV</div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>// About me</strong><br>
            <div>
                Lorem ipsum dolor sit arret, consectetur adipisicing elit. Repellendus, non, dolorern, cumque distinctio magni quarn expedita velit labarum sunt amet facere tempora ut fuga aliquam ad aspericres voluptatern	office@kamsolutions.pl dolarum! Quasi.
            </div>
            <br>
            <strong>// Education</strong><br>
            <div class="row">
                <ul>
                    <p><li style="list-style-type: none">
                        <div class="col-md-3">
                            1990
                        </div>
                        <div class="col-md-9">
                            I was born in Katowice Lorem ipsum dolor Sit amet, consectetur adipiSiCing elit. Sapiente exercitationem, totam, dolores iste dolore est aut modi.
                        </div>
                    </li>

                    </p>
                    <p><li style="list-style-type: none">
                        <div class="col-md-3">
                            1990
                        </div>
                        <div class="col-md-9">
                            I was born in Katowice Lorem ipsum dolor Sit amet, consectetur adipiSiCing elit. Sapiente exercitationem, totam, dolores iste dolore est aut modi.
                        </div>
                    </li>
                    </p>

                    <p><li style="list-style-type: none">
                        <div class="col-md-3">
                            1990
                        </div>
                        <div class="col-md-9">
                            I was born in Katowice Lorem ipsum dolor Sit amet, consectetur adipiSiCing elit. Sapiente exercitationem, totam, dolores iste dolore est aut modi.
                        </div>
                    </li>
                    </p>

                    <p><li style="list-style-type: none">
                        <div class="col-md-3">
                            1990
                        </div>
                        <div class="col-md-9">
                            I was born in Katowice Lorem ipsum dolor Sit amet, consectetur adipiSiCing elit. Sapiente exercitationem, totam, dolores iste dolore est aut modi.
                        </div>
                    </li></p>
                </ul>
            </div>
            <br>
            </div>

    </div>
    <div>
        <div class="col-md-6" >
            <strong>// Contact</strong><br>

            <div class="col-md-1">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <div class="col-md-5">
                <div>500 345 242</div>
            </div>
            <br>

            <div class="col-md-1">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <div class="col-md-5">
                <div>office@kamsolutions.pl</div>
            </div>
            <br>

            <div class="col-md-1">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <div class="col-md-5">
                <div>Twitter </div>
            </div>
            <br>

            <div class="col-md-1">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <div class="col-md-5">
                <div>https://twitter.com/WordPress</div>
            </div>
            <br>

            <div class="col-md-1">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <div class="col-md-5">
                <div>Skype</div>
            </div>
            <br>

            <div class="col-md-1">
                <i class="glyphicon glyphicon-earphone"></i>
            </div>
            <div class="col-md-5">
                <div>kamsolutions.pl</div>
            </div>
            <br>


            <div class="col-md-5"><strong>//Skills</strong></div>
            <div class="col-md-1"></div>
            <br>

            <div class="col-md-1">
                <ul>
                    <li>HTML </li>
                    <li>CSS</li>
                    <li>jQuery</li>
                    <li>PHP</li>
                    <li>Laravel2(framework)</li>
                    <br>
                    <li>Beginner</li>
                    <li>Proficient</li>
                    <li>Expert</li>
                    <li>Master</li>

                </ul>
            </div>
            <div class="col-md-5"></div>

        </div>
        <div class="row">
            <div class="col-md-5"><strong>//Languages</strong></div>
            <div class="col-md-1"></div>
            <br>

            <div class="col-md-6">
                <ul>
                    <li>
                        <div class="col-md-1">Polish</div>&nbsp;
                        <div class="col-md-5 inline-group">
                            <i class="glyphicon glyphicon-plus"></i>
                            <i class="glyphicon glyphicon-plus"></i>
                        </div>
                    </li>
                    <br>
                    <li> English</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>